.container {
  padding-block: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  margin-block-start: 36px;
  margin-block-end: 32px;
  margin: 0 auto;
  margin-block-end: 32px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  font-family: inherit;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-inline-end: 8px;
}
input:hover {
  border: 1px solid #000;
}
input:focus {
  border: 1px solid #4e75ff;
}
input::placeholder {
  color: #808080;
}
button {
  border-radius: 8px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
}
button:hover,
button:focus {
  background-color: #6c8cff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
}
.gallery-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  position: relative;
}
.gallery-link {
}
.gallery-image {
}
.description-list {
  background: #fff;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.description-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: #2e2f42;
}
.description-list span {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #2e2f42;
}
.load-more-btn.is-hidden {
  display: none;
}
.load-more-btn {
  margin-block-start: 32px;
}
.loader.is-hidden {
  display: none;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #f5f5f5;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
